---
import "@/styles/global.css";
import BaseHead from "@/components/BaseHead.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body>
    <slot />
    <script>
      import "preline/preline.js";
    </script>
  </body>
</html>
