---
import "@/styles/global.css";
import "@/styles/base.css";
import "@/styles/typography.css";
import BaseHead from "@/components/BaseHead.astro";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body>
    <Header />

    <main>
      <slot />
    </main>

    <script>
      import "preline/preline.js";
    </script>
  </body>
</html>
