---
// uri: column/intro/100002201
// uri: column/intro/new-hotel-offerings

import { getIntro } from "@/lib/api";
import { CatalogComponent } from "@/components/ShadcnComponents.tsx";
import Layout from "@/layouts/Layout.astro"
import { dataMap } from "@/lib/convert";



const { slug } = Astro.params;
const { intros } = await getIntro(slug);

if (!intros || intros.length !== 1) return Astro.redirect("/404");

const intro = intros[0].flatData;

const chapters = intro!.chapters!;

// console.log(column)
const catalogs = dataMap(chapters);
---

<!-- <a href=`/${COLUMN_ARTICLE_PATH}/index?cid=${slug}`>start explore</a> -->

<Layout>
    <article set:html={intro.description} />

    <CatalogComponent
    data={catalogs}
    client:visible
    />
</Layout>
