---
import Default from "@astrojs/starlight/components/Sidebar.astro";

const { column } = Astro.locals;
---

{ column && (
  <div class="columnInfo">
    <div class="columnInfo_Body">
      <div class="columnInfo_ColumnName">{column && column.title.iv}</div>
    </div>
  </div>

  <style>
    .columnInfo {
      margin: 0 15px 24px 38px;
      padding-bottom: 16px;
      cursor: pointer;
      border-bottom: 0.5px solid #eff0f2;
    }

    .columnInfo_Body {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      color: #888;
    }

    .columnInfo_ColumnName {
      font-size: 24px;
      line-height: 31px;
      color: #404040;
      font-weight: 500;
      -webkit-font-smoothing: antialiased;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  </style>
)}

<Default />
